
/* ************************ center alignment of content **************************** */

.container { 
    width:960px;
    margin: 0 auto;
}

/* ************************ flexbox **************************** */
.row-start--1 { /* header with logo and company name */
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    align-items: center; 
    padding: 0.66rem 0;
}
.row-start--2 { /* hero header with bg-image */
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    align-items: center;
    height:100%; 
}

.row-space-start--3 { /* gallery and info fields */
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.row-space-start--4 { /* footer */
    display: flex;
    flex-flow: column; 
    justify-content: center;
    height: 100%;
}

