
/* ******************** product gallery ***************************** */


.gallery__item {
    width: 30%;
    background-color: $color-background-tertiary;
    border: 4px solid $color-background-primary;

    & p {
        background-color: $color-background-primary; 
        padding: 0.5rem;
        text-align: center;
    }
}

.gallery__image {
    margin: 2rem;
    height: 9rem;
    overflow: hidden;
    max-width: 100%;

    &--1{
        background-image: url(../img/pen.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &--2{
        background-image: url(../img/watch.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &--3{
        background-image: url(../img/glasses.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


