
/*  *-*-*-*-*-*-*-*-*-* Main *-*-*-*-*-*-*-*-*-* */
/*  *-*-*-*-*-*-*-*-*-* *-*-*-*-*-*-*-**-*-*-*-* */
/* Products and Information*/

.products,
.business-info { /* flex container */
  /* flex-direction: row is default */
  /* flex-wrap: nowrap is default */
  /* align-items: stretch is default*/ 
  display: flex;
  justify-content: space-between; 
  
  margin-top: 3rem;
}
.product { /* flex item */
  width: 30%;
}

.product-image { /* flex container */
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}
.product-image img { /* flex item */
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.info { /* flex item */
  width: 35%;
}

.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

/* ^*^*^*^*^*^* MEDIA queries medium screen ^*^*^*^*^*^* */
@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

/* ^*^*^*^*^*^* MEDIA queries small screen ^*^*^*^*^*^* */
@media only screen and (max-width: 470px) {
  .products,
  .business-info {
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display: none;
  }

  .info {
    width: 90%;
    margin: 0.5rem auto;
  }
}
