*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: Helvetica, sans-serif;
  /*base font is 18px: 112.5% (18/16) */
  color: white;
  font-size: 112.5%; }

header {
  /*this is a flex container.*/
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  /*top header, middle header and nav are stacked as columns*/
  justify-content: flex-start;
  align-items: center; }

.header-top {
  /*this is a a flex-item*/
  flex: 1;
  background-color: black;
  width: 100%;
  padding: 0.66rem 0; }
  .header-top img {
    /*this is a a flex-item*/
    margin-left: 0.5rem;
    margin-right: 1rem; }
  .header-top h1 {
    /*this is a a flex-item*/
    display: inline;
    text-transform: uppercase;
    font-size: 1rem; }

.header-middle {
  /*this is a a flex-item*/
  flex: 1;
  height: 25rem; }

nav {
  /*this is a a flex-item*/
  flex: 1;
  background-color: firebrick;
  width: 100%; }

.site-container {
  /*this is a flex container.*/
  width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange; }
